openapi: 3.2.0
info:
  title: JetBrains Marketplace Plugin Download API
  description: The JetBrains Marketplace API provides programmatic access to the plugin marketplace for JetBrains IDEs. It allows listing plugins by IDE compatibility, searching for plugins, uploading new plugins and updates, downloading plugin files, and checking plugin licenses. The API serves both plugin developers and consumers who need to integrate with the JetBrains plugin ecosystem.
  version: 1.0.0
  contact:
    name: JetBrains
    url: https://plugins.jetbrains.com/docs/marketplace/api-reference.html
  license:
    name: Proprietary
    url: https://www.jetbrains.com/legal/
servers:
- url: https://plugins.jetbrains.com
  description: JetBrains Marketplace
security: []
tags:
- name: Plugin Download
  description: Plugin download operations
paths:
  /plugin/download:
    get:
      summary: JetBrains Download Plugin
      description: Downloads a specific version of a plugin.
      operationId: downloadPlugin
      tags:
      - Plugin Download
      parameters:
      - name: pluginId
        in: query
        schema:
          type: string
      - name: version
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Plugin file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Marketplace token for authenticated operations
