openapi: 3.2.0
info:
  title: JetBrains Marketplace Plugin Upload API
  description: The JetBrains Marketplace API provides programmatic access to the plugin marketplace for JetBrains IDEs. It allows listing plugins by IDE compatibility, searching for plugins, uploading new plugins and updates, downloading plugin files, and checking plugin licenses. The API serves both plugin developers and consumers who need to integrate with the JetBrains plugin ecosystem.
  version: 1.0.0
  contact:
    name: JetBrains
    url: https://plugins.jetbrains.com/docs/marketplace/api-reference.html
  license:
    name: Proprietary
    url: https://www.jetbrains.com/legal/
servers:
- url: https://plugins.jetbrains.com
  description: JetBrains Marketplace
security: []
tags:
- name: Plugin Upload
  description: Plugin upload operations
paths:
  /api/updates/upload:
    post:
      summary: JetBrains Upload Plugin
      description: Uploads a new plugin or plugin update to the marketplace.
      operationId: uploadPlugin
      tags:
      - Plugin Upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pluginId:
                  type: integer
                  description: Plugin ID (for updates)
                file:
                  type: string
                  format: binary
                  description: Plugin JAR or ZIP file
                channel:
                  type: string
                  description: Release channel
      responses:
        '200':
          description: Plugin uploaded successfully
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Marketplace token for authenticated operations
